@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  background-color: #7e7d7d;
  height: 100mh;
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #68B4C7;

  a {
    color: #E7FA68;
  }

  li a {
    color: #ffffff;
  }

}


header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #E7FA68;
    font-weight: bold;
    font-size: larger;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}
}

// .icon-top {
//   height: 20px;
// }

.underline {
  text-decoration: underline;
}